@import 'src/styles/index';

.navigation-bar-container {
    display: flex;
    flex-direction: column;
    gap: $spacing-xxm;
    padding: $spacing-xxxlg 0;
    width: $spacing-xxslg;
    text-align: center;
    border-radius: $border-radius-lg;
    background-color: $dark-blue-hue;
}

.profile-container {
    margin-top: $spacing-xslg;
}

@media (max-width: 768px) {
    .logo-container,
    .profile-container {
        display: none;
    }
    .navigation-bar-container {
        width: 100%;
        padding: 0;
    }
}
@media (max-width: 768px) {
    .logo-container,
    .profile-container {
        display: none;
    }
    .navigation-bar-container {
        width: 100%;
        padding: 0;
    }
}
