@import 'src/styles/index';

.movie-detail {
    display: flex;
    flex-direction: column;
    font-size: $font-size-normal;
    line-height: 1.5;
    color: $white;
}

.movie-detail-label {
    color: $silver;
}

@media (max-width: 768px) {
    .movie-detail {
        font-size: $font-size-xs;
    }
}
