$spacing-xxs: 4px;
$spcaing-xsl:6px;
$spacing-xs: 8px;
$spacing-s: 9px;
$spacing-xxxs: 10px;
$spacing-sml: 12px;
$spacing-sm: 16px;
$spacing-xsm: 20px;
$spacing-xxsm: 22px;
$spacing-normal: 24px;
$spacing-xmd: 28px;
$spacing-md: 32px;
$background-bg: 36px;
$spacing-lgs: 40px;
$spacing-lggs: 44px;
$spacing-lg: 48px;
$spacing-xlg: 49px;
$spacing-xxxlg: 50px;
$spacing-xl: 54px;
$spacing-xxl: 60px;
$spacing-xxls: 62px;
$spacing-xxlg: 64px;
$spacing-xxxl: 75px;
$spacing-xxmd: 80px;
$spacing-xls: 83px;
$spacing-xxxxl: 88px;
$spacing-xxxl: 75px;
$spacing-xslg: 97px;
$spacing-xxslg: 104px;
$spacing-xxm: 130px;

//border-radius
$border-radius-sm: 8px;
$border-radius-md: 12px;
$border-radius-lg: 16px;